<section>
  <div class="contacts-container">
    <!-- <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2> -->
    <div class="contacts-fruits">
      <img class="melon" src="./img/melon.png" alt="juicy melons" />
      <img class="blackberries" src="./img/blackberries.png" alt="blackberries" />
    </div>
  </div>
  <div class="mini-form">
    <p class="short-paragraph">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <div class="email-container">
      <input class="email-form" type="email" name="email" />
      <button class="email-button" type="submit">Send</button>
    </div>
  </div>
</section>
