<footer>
  <div class="footer-container">
  <div class="footer-left">
   <img src="../img/banana-phone-footer.jpg" width="264">
    <div class="logo-company-div">
      <svg width="16" height="16" class="logo-icon">
        <use href="../img/harvest.svg#icon-logo"></use>
      </svg>    
  <span class="company-name">FRESH HARVEST BOX</span>
    </div>
  </div>

  <div class="navigation"> ul - linki ułożone flexem </div>

  <div class="footer-right"> 
    <div class="sm-links">
      <ul class="sm-list">
        <li class="sm-link">
          <a href="https://www.instagram.com/" class="social-link">
            <svg width="7.7" height="19.67" class="social-icon">
              <use href="../img/harvest.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="sm-link">
          <a href="https://www.instagram.com/" class="social-link">
            <svg class="social-icon" width="22.4" height="22.4">
              <use href="../img/harvest.svg#icon-ig"></use>
            </svg>
          </a>
        </li>
        <li class="sm-link">
          <a href="https://www.instagram.com/" class="social-link">
            <svg width="24.64" height="17.43" class="social-icon">
              <use href="../img/harvest.svg#icon-yt"></use>
            </svg>
          </a>
        </li>
      </ul> 
    </div> 
</div>






  <div class="contact">
  <p>+380 (68) 443-94-26</p>
<p>1678 S. Pioneer Road
Salt Lake City
UT 84104</p>
</div>

</div>
</div>
</footer>


