<footer>

  <!-- LEWA STRONA  -->

  <div class="footer-container container">

    <!-- LEWA STRONA  -->

  <div class="footer-left">
      <div class="banana">
         <img src="../img/banana-phone-footer.jpg"  class="banana-foto">
      </div>
      <div class="logo-company-div">
          <svg width="16" height="16" class="logo-icon">
          <use href="../img/harvest.svg#icon-logo"></use>
          </svg>   
             <div class="company-name">FRESH HARVEST BOX</div>
     </div>
   </div>



<!-- CENTRUM - NAV -->

<div class="nav-bar">
<ul class="nav-list"> <li><a href="">How It Works</a></li>
  <li><a href="">Fruits</a></li>
  <li><a href="">Contacts</a></li>
</ul>
</div>


  <!-- PRAWA STRONA -->
  <div class="footer-right"> 
    <div class="sm-links">
      
      <ul class="sm-list">
        <li class="sm-link">
          <a href="https://www.instagram.com/" class="social-link">
            <svg width="7.7" height="19.67" class="social-icon">
              <use href="../img/harvest.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="sm-link">
          <a href="https://www.instagram.com/" class="social-link">
            <svg class="social-icon" width="22.4" height="22.4">
              <use href="../img/harvest.svg#icon-ig"></use>
            </svg>
          </a>
        </li>
        <li class="sm-link">
          <a href="https://www.instagram.com/" class="social-link">
            <svg width="24.64" height="17.43" class="social-icon">
              <use href="../img/harvest.svg#icon-yt"></use>
            </svg>
          </a>
        </li>
      </ul> 
    </div> 
    <div class="contact">
      <p>+380 (68) 443-94-26</p>
    <p class="address">1678 S. Pioneer Road
    Salt Lake City
    UT 84104</p>
    </div>
</div>

</div>
</div>
</footer>


