<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/fruits.css" />
</head>

<body class="body">
    <div class="fruits-div">
        <div class="organic-fruits">
            <h2 class="fruits-header">ORGANIC FRUITS</h2>
        </div>
        <div class="div-fruits-paragraph">
            <p class="fruits-paragraph">Our organic fruits are hand-picked from local farms and delivered straight to
                your doorstep ,<br> ensuring that you get the
                freshest and most nutritious produce possible. We offer a wide<br> selection of organic fruits grown
                without the use of
                harmful pesticides or chemicals.</p>
        </div>
        <div class="fruit-card">
            <ul class="fruits-cards">
                <div class="strawberry item-card">
                    <li>
                        <h2 class="fruit-name">Strawberry</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/strawberry.png" alt="juicy red strawberry"
                            width="295px" />
                        <button class="fruit-price">100 UAH / kg</p>
                    </li>
                </div>
                <div class="banana item-card">
                    <li>
                        <h2 class="fruit-name">Banana</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/banana.png" alt="yellow healthy banana" width="295px" />
                        <button class="fruit-price">80 UAH / kg</p>
                    </li>
                </div>
                <div class="watermelon item-card">
                    <li>
                        <h2 class="fruit-name">Watermelon</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/watermelon.png" alt="big green watermelon"
                            width="295px" />
                        <button class="fruit-price">40 UAH / kg</p>
                    </li>
                </div>
                <div class="lime item-card">
                    <li>
                        <h2 class="fruit-name">Lime</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/lime.png" alt="two half of lime" width="295px" />
                        <button class="fruit-price">60 UAH / kg</p>
                    </li>
                </div>
                <div class="apple item-card">
                    <li>
                        <h2 class="fruit-name">Apple</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/apple.png" alt="juicy red strawberry" width="295px" />
                        <button class="fruit-price">50 UAH / kg</p>
                    </li>
                </div>

                <div class="peach item-card">
                    <li>
                        <h2 class="fruit-name">Peach</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/peach.png" alt="juicy red strawberry" width="295px" height="251px" />
                        <button class="fruit-price">80 UAH / kg</p>
                    </li>
                </div>

                <div class="plums item-card">
                    <li>
                        <h2 class="fruit-name">Plums</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/plumes.png" alt="juicy red strawberry" width="295px" />
                        <button class="fruit-price">40 UAH / kg</p>
                    </li>
                </div>

                <div class="orange item-card">
                    <li>
                        <h2 class="fruit-name">Orange</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/orange.png" alt="juicy red strawberry" width="295px" />
                        <button class="fruit-price">60 UAH / kg</p>
                    </li>
                </div>

                <div class="kiwi item-card">
                    <li>
                        <h2 class="fruit-name">Kiwi</h2>
                        <p class="fruit-type">Plant</p>
                        <div class="shadow"></div>
                        <img class="fruit-position" src="/src/img/kiwi.png" alt="juicy red strawberry" width="295px" />
                        <button class="fruit-price">90 UAH / kg</p>
                    </li>
            </ul>
        </div>

    </div>
    <div class="div-button-fruit">
        <button class="order-button">Order
        </button>
    </div>
</body>

</html>