
<div class="container-fruits">
    <div class="fruits-div">
        <div class="organic-fruits">
            <h2 class="fruits-header" id="#organic-fruits">ORGANIC FRUITS</h2>
        </div>
        <div class="div-fruits-paragraph">
            <p class="fruits-paragraph">Our organic fruits are hand-picked from local farms and delivered straight to
                your doorstep ,<br> ensuring that you get the
                freshest and most nutritious produce possible. We offer a wide<br> selection of organic fruits grown
                without the use of
                harmful pesticides or chemicals.</p>
        </div>
        </div>
        <div class="fruit-card">
            <ul class="fruits-cards">
                <li>
                        <div class="strawberry item-card">
                        <h2 class="fruit-name">Strawberry</h2>
                        <p class="fruit-type">Plant</p>
                          
                        <img class="fruit-position" src="./img/strawberry.png" alt="juicy red strawberry" width="295">
                        <button class="fruit-price">100 UAH / kg</button>
                    </div>


             

                        <img class="fruit-position" src="./img/strawberry.png" alt="juicy red strawberry" width="295px" />
                        <button class="fruit-price">100 UAH / kg</button>

                    </li>
                <li>
                        <div class="banana item-card">
                        <h2 class="fruit-name">Banana</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/banana.png" alt="yellow healthy banana" width="295">
                        <button class="fruit-price">80 UAH / kg</button>
                    </div>


                       

                        <img class="fruit-position" src="./img/banana.png" alt="yellow healthy banana" width="295px" />

                        <button class="fruit-price">80 UAH / kg</button>
                    </li>
                    <li>
                        <div class="watermelon item-card">
                        <h2 class="fruit-name">Watermelon</h2>
                        <p class="fruit-type">Plant</p>
                          
                        <img class="fruit-position" src="./img/watermelon.png" alt="big green watermelon" width="295">
                        <button class="fruit-price">40 UAH / kg</button>
                    </div>




                        <img class="fruit-position" src="./img/watermelon.png" alt="big green watermelon"


                            width="295px" />
                        <button class="fruit-price">40 UAH / kg</button>
                    </li>
                    <li>
                        <div class="lime item-card">
                        <h2 class="fruit-name">Lime</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/lime.png" alt="two half of lime" width="295">
                        <button class="fruit-price">60 UAH / kg</button>
                    </div>

 

                        <img class="fruit-position" src="./img/lime.png" alt="two half of lime" width="295px" />


                        <button class="fruit-price">60 UAH / kg</button>

                    </li>
                    <li>
                        <div class="apple item-card">
                        <h2 class="fruit-name">Apple</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/apple.png" alt="two and half apples" width="295">
                        <button class="fruit-price">50 UAH / kg</button>
                    </div>

                        <img class="fruit-position" src="./img/apple.png" alt="juicy red strawberry" width="295px" />

                        <button class="fruit-price">50 UAH / kg</button>

                    </li>
                <li>
                        <div class="peach item-card">
                        <h2 class="fruit-name">Peach</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/peach.png" alt="one and half peaches" width="295">
                        <button class="fruit-price">80 UAH / kg</button>
                    </div>



                    

                        <img class="fruit-position" src="./img/peach.png" alt="juicy red strawberry" width="295px" />


                        <button class="fruit-price">80 UAH / kg</button>

                    </li>
                    <li>
                        <div class="plums item-card ">
                        <h2 class="fruit-name">Plums</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/plumes.png" alt="one and half plumes" width="295">
                         <button class="fruit-price">40 UAH / kg</button>
                        </div>


                       

                        <img class="fruit-position" src="./img/plumes.png" alt="juicy red strawberry" width="295px" />


                        <button class="fruit-price">40 UAH / kg</button>

                    </li>
                    <li>
                        <div class="oranges item-card ">
                        <h2 class="fruit-name">Orange</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/orange.png" alt="big juicy orange" width="295">
                        <button class="fruit-price">60 UAH / kg</button>
                    </div>



                        

                        <img class="fruit-position" src="./img/orange.png" alt="juicy red strawberry" width="295px" />


                        <button class="fruit-price">60 UAH / kg</button>
                    </li>
                    <li>

                        <div class="kiwi item-card ">

                        <h2 class="fruit-name">Kiwi</h2>
                        <p class="fruit-type">Plant</p>

                        <img class="fruit-position" src="./img/kiwi.png" alt="two and half kivi" width="295">
                        <button class="fruit-price">90 UAH / kg</button>
                      </div>

        

                        <img class="fruit-position" src="./img/kiwi.png" alt="juicy red strawberry" width="295px" />


                        <button class="fruit-price">90 UAH / kg</button>

                    </li>
            </ul>
    </div>
    <div class="order-button-div">
    <button type="button" class="order-button" data-order-open>
        <svg class="icon-arrow" width="14" height="14">
          <use href="../img/harvest.svg#arrow"></use>
        </svg>
        <span class="button-name">ORDER</span>
      </button>
    </div>
</div>

