<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="./fruits.css" />
</head>
<body class="body">
<div class="fruits-div">
    <div class="organic-fruits">
    <h2 class="fruits-header">ORGANIC FRUITS</h2>
    </div>
    <div class="div-fruits-paragraph">
    <p class="fruits-paragraph">Our organic fruits are hand-picked from local farms and delivered straight to your doorstep ,<br> ensuring that you get the
        freshest and most nutritious produce possible. We offer a wide<br> selection of organic fruits grown without the use of
       harmful pesticides or chemicals.</p>
    </div>
    <div class="fruit-card">
    <ul class="fruits-cards">
    <div class="strawberry item-card">
       <li>
       <h2 class="fruit-name">Strawberry</h2>
       <p class="fruit-type">Plant</p>
       <img  class="fruit-position" src="/images/strawberry.jpg" alt="juicy red strawberry" width="295px"/> 
       <button class="fruit-price">100 UAH / kg</p>
       </li>
    </div>
    <div class="banana item-card">
        <li>
    <h2 class="fruit-name">Banana</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/banana.jpg"alt="yellow healthy banana" width="295px" />
    <button class="fruit-price">80 UAH / kg</p>
    </li>
    </div>
    <div class="watermelon item-card">
    <li>
    <h2 class="fruit-name">Watermelon</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/watermelon.jpg" alt="big green watermelon" width="295px" />
    <button class="fruit-price">40 UAH / kg</p>
    </li>
    </div> 
    <div class="lime item-card">
    <li>
    <h2 class="fruit-name">Lime</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/lime.jpg" alt="two half of lime" width="295px" />
    <button class="fruit-price">60 UAH / kg</p>
    </li>
    </div>
    <div class="apple item-card">
    <li>
     <h2 class="fruit-name">Apple</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/apple.jpg" alt="juicy red strawberry" width="295px" />
    <button class="fruit-price">50 UAH / kg</p>
    </li>
    </div>
    <div class="peach item-card">
    <li>
    <h2 class="fruit-name">Peach</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/peach.jpg" alt="juicy red strawberry" width="295px" />
    <button class="fruit-price">80 UAH / kg</p>
    </li>
    </div>
    <div class="plums item-card">
    <li>
     <h2 class="fruit-name">Plums</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/plumes.jpg" alt="juicy red strawberry" width="295px" />
    <button class="fruit-price">40 UAH / kg</p>
    </li>
    </div>
    <div class="orange item-card">
    <li>
     <h2 class="fruit-name">Orange</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/orange.jpg" alt="juicy red strawberry" width="295px" />
    <button class="fruit-price">60 UAH / kg</p>
    </li>
    </div>
    <div class="kiwi item-card">
    <li>
     <h2 class="fruit-name">Kiwi</h2>
    <p class="fruit-type">Plant</p>
    <img class="fruit-position" src="images/kiwi.jpg" alt="juicy red strawberry" width="295px" />
    <button class="fruit-price">90 UAH / kg</p>
    </li>
    </ul>
    </div>  
</div>
<div class="div-button-fruit">
<button class="order-button">Order
</button>
</div>
</body>
</html>