<div class="container">
  <div class="hero-column">
    <div class="title-div">
      <h1 class="main-title">
        <p>
          fresh harvest box is your one-stop place for a delicious fruit basket
        </p>
      </h1>
    </div>
    <div class="hero">
      <!-- <div class="left-hero">
      <div class="about-fruits">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </div>
    </div> -->
      <div class="small-pill-watermelon">
        <p class="fruit-title">Fruit</p>
        <img src="../img/watermelon.png" class="watermelon-img-pill" />
        <p class="fruit-description">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
      <div class="orange">
        <img src="../img/orange-girl.jpg" width="1053" class="orange-foto" />
      </div>
      <div class="small-pill-strawberry">
        <p class="fruit-title">Fruit</p>
        <img src="../img/strawberry-basket.png" class="strawberry-img-pill" />
        <p class="fruit-description">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
    <button type="button" class="shop-btn">SHOP NOW</button>
    <div class="pill-border"></div>
  </div>
</div>
