<section class="how-it-works-section">
    
        <div class="content">
            <h1>TO ORDER YOUR FRUIT BASKET,<br>SIMPLY FOLLOW THESE EASY STEPS</h1>
            <p>Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home. Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
        </div>
            <div class="steps">
                <div class="step">
                    
                    <div class="step-header">
                        <img src=".\img\first-step.png">
                    </div>
                    <div class="step-content">Just choose the fruit you want to order by clicking on the checkboxes next to it.</div>
                </div>
                <div class="step">
                    
                    <div class="step-header">
                        <img src=".\img\second-step.png">
                    </div>
                    <div class="step-content">Click on the basket and fill out the form.</div>
                </div>
                <div class="step">
                    
                    <div class="step-header">
                        <img src=".\img\third-step.png">
                    </div>
                    <div class="step-content">Sit back and relax! Your fresh fruit basket 
                        will be delivered.</div>
                    </div>
                
            </div>
    <div class="container">
            <img class="gif" src=".\img\fruity-gifs.gif">
    </div>
    </section>