.logo-icon {
  fill: #ae1332;
}

.company-name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}
.logo-company-div {
  display: flex;
  gap: 8px;
}
.container {
  width: 1280px;
  /* margin: 0 auto; wyśrodkowanie nie działą */
}
.footer-container {
  display: flex;
}

.footer-right {
  display: flex;
  width: 184px;
  height: 200px;
}

/* SOCIALMEDIA  */

.sm-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sm-link {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #ae1332;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.contact {
  display: block;
  width: 100%;
}
.contact p {
  color: #ae1332;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
