footer {
  background-color: #ffffff;
}
.container {
  width: 375px;
  margin: 0 auto;
  padding: 32px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-icon {
  fill: #ae1332;
}
.banana {
  overflow: hidden;
  width: 349px;
  height: 179px;
  border-radius: 100px;
}
.banana-foto {
  transform: translateY(-15%);
}

.company-name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}
.logo-company-div {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 24px;
  justify-content: center;
}

/* CENTRUM - NAV  */

.nav-list {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}

/* SOCIALMEDIA  */

.sm-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sm-link {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #ae1332;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.sm-links {
  margin: 44px 0;
}
/* ADRES */

.contact {
  width: 143px;
  align-items: center;
  justify-content: center;
}
.contact p {
  color: #ae1332;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.address {
  letter-spacing: -0.02em;
  margin-top: 20px;
  /* text-align: center; */
}
