/* .body {
    background-color: #AE1332;
    width: 1280px;
} */
* {
    margin: 0
}
.fruits-header {
    width: 624px;
    height: 44px;
    gap: 0px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.04em;
    margin: auto;
    color: #fff;
    box-shadow: 0px 4px 70px 0px #0000001A;
    display: flex;
    justify-content: center;
    padding-top: 150px;

}
.fruits-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #fff;
    box-shadow: 0px 4px 70px 0px #0000001A;
    align-items: center;
    justify-content: center;
}
.div-fruits-paragraph {
    width: 547px;
    height: 54px;
    gap: 0px;
    opacity: 0px;
    padding-top: 14px;
    padding-bottom: 44px;
}
.fruit-card {
    --card-width: 390px;
}
.fruits-cards {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 24px;
}
.strawberry {
    background-color: #F8766B;
}
.banana {
    background-color: #EDD251;
}
.watermelon {
    background-color: #9DC262;
}
.lime {
    background-color: #BFD663;
}
.apple {
    background-color: #E93F29;
}
.peach {
    background-color: #DB4F4B;
}
.plums {
    background-color: #9B5366;
}
.orange {
    background-color: #F47F4C;
    margin-bottom: 24px;
}
.kiwi {
    background-color: #98B37E;
}
.item-card {
    width: 389px;
    height: 465px;
    border-radius: 20px;
    display: flex;
    align-items: center;

}
.fruit-name {
    font-size: 32px;
    padding-left: 24px;
    padding-top: 4px;
    color: #fff;
}
.fruit-type {
    padding-left: 24px;
    padding-top: 7px;
    width: 40px;
    height: 24px;
    top: 109px;
    left: 24px;
    color: #fff;
    font-size: 16px;
}
.fruit-price {
    padding: 15px 42px 15px 42px;
    gap: 10px;
    border-radius: 200px;
    opacity: 0px;
    justify-content: center;
    margin-left: 24px;
    display: flex;
}
.fruit-position {
    margin-bottom: 5px;
    margin-left: 47px;
}
.order-button {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: #9DC262;
    transform: rotate(-14deg);
}
.div-button-fruit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-fruits-paragraph {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.organic-fruit {
    display: flex;
}
/* .shadow {
     box-shadow: 0 10px 6px -6px #000000;
    width: 195px;
     height: 38px;
     top: 238px;
     opacity: 0.1px;
     background-color: rgba(0, 0, 0, 0.1);
     border-radius: 70%;
     position: relative;
     margin: auto;
        } */
 @media (max-width:768px) {
 .tablet-hidden {
 display:none;}

 .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
 }
.responsive {
 margin:auto;
 justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
    
}
}
@media (max-width: 480px) {

.mobile-hidden {
    display:none;
}
.container-mobile {
    gap: 5px;
    max-width: 768px;
    min-width: 480px;
    margin: 0 auto;
}
}
.fruits-div {
    display: flex;
    justify-content: center;
    max-height: 1443px;
    padding-top: 1000px;
}
.fruit-card {
    display: flex;
    justify-content: center;
    max-width: 1215px;
}
