.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--headertext);
  ;
  height: 50px;
  padding-left: 32px;
  min-width: 1280px;
  line-height: 18px;
}

@media (min-width: 1280px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .basket {
    display: none;

  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .top-container {
    width: 768px;

  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .top-menu-nav {
    display: none;

  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .basket {
    display: none;

  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .hamburger {
    display: flex-end;

  }
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-decoration: none;

}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hoverfocus);
}

.center-feature {
  display: flex;
  gap: 8px;
}

.logo-icon {
  display: flex;
}

.company {
  color: var(--headertext);
  line-height: 18px;
}

.basket {
  display: flex;
  width: 28px;
  height: 28px;
  color: var(--headertext);
}