@media screen and (width >= 1280px) {
  .container {
    width: 1280px;
  }
}

@media screen and (width >= 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (width >= 375px) {
  .container {
    width: 375px;
  }
}

  @media (width >=375px) {
    .hamburger {
      display: none;
    }
  }

  @media (width <=375px) {
    .basket {
      display: none;
    
    }
  }

  @media (min-width: 3px) and (max-width: 768px) {
    .top-menu-nav {
      display: none;

    }
  }
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--headertext);
  height: 50px;
  line-height: 18px;
  width: 100%;
}


.nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-decoration: none;

}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hoverfocus);
}

.center-feature {
  display: flex;
  gap: 8px;
}

.logo-icon {
  display: flex;
}

.company {
  color: var(--headertext);
  line-height: 18px;
}

.basket {
  display: flex;
  width: 28px;
  height: 28px;
  color: var(--headertext);
}


