.header {
  padding: 0;
}
.top-menu-head {
  display: flex;
  text-decoration: none;
  
  line-height: 18px;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #e7e9fc;
  justify-content: space-between;
  
  height: 50px;
  margin: auto;
  background-color: #ffffff;
  color: #AE1332;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.company {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.logo-text {
  padding-left: 8px;
}
.basket {
  display: flex;
  
  width: 28px;
  height: 28px;

}