.hero-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-div-hero {
  height: 198px;
  margin-top: 64px;
  margin-bottom: -140px;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 103px;
}

.main-title-hero {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}

/* PIGUŁA Z DZIEWCZYNĄ */
.orange {
  overflow: hidden;
  width: 452px;
  height: 702px;
  border-radius: 500px;
}

.orange img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Czy zastosować background-image?
   background-image: url("photographer.jpg");
  background-position: center;
  lub procentowo top: 100%
  right: 90% ?
  background-repeat: no-repeat;
  background-size: cover;


*/
  /* transform: translateX(-10%); */
}
.pill-border {
  position: absolute;
  transform: translateY(-2%);
  width: 486px;
  height: 742px;
  border-radius: 500px;
}

/* PIGUŁY Z OWOCAMI  */
.watermelon-img-pill {
  width: 200px;
  height: 172px;
  margin-top: 61px;
}
.small-pill-watermelon {
  display: flex;
  flex-direction: column;
  width: 249px;
  height: 382px;
  border-radius: 500px;
  align-items: center;
  background-color: #a4cb66;
  transform: translateY(90%);
}
.strawberry-img-pill {
  width: 162px;
  height: 185px;
  margin-top: 16px;
}

.small-pill-strawberry {
  display: flex;
  flex-direction: column;
  width: 249px;
  height: 382px;
  border-radius: 500px;
  background-color: #f5ce13;
  align-items: center;
  transform: translateY(60%);
}
.fruit-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
  margin-top: 28px;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
.fruit-description {
  width: 155px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
}

.shop-now-btn-hero {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-14deg);
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
  border: none;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
.button-shop-now-hero-container {
  transform: translateY(-40%);
}

.about-fruits {
  width: 222px;
  height: 108px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff;
}

.hashtag-container-hero {
  transform: translate(-62px, 100px);

  width: 375px;
}

.list-hashtag-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  flex-basis: calc((100% - 8px) / 2);
}

.list-item-hashtag-hero {
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 1000px;
  padding: 12px 32px;
  height: 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
}

.column-hero {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.our-expertly {
  transform: translateY(280%);
  width: 222px;
  color: #ffffff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  align-items: center;
}

/*
.blur-banana-box {
  width: 183px;
  height: 124px;
  position: relative
}

.blur-banana {
  transform: rotate(-20deg); 
  position: absolute;
  }

.blur-strawberry-box {
  width: 120px;
  height: 120px;
  position: relative
}

.blur-strawberry {
  position: absolute; 
}
*/
