/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/


@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./contacts.css');
@import url('./modal.css');
@import url('./hero.css');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000000;
  --bgcolor: #ae1332;
  --green: #a4cb66;
  --yellow: #f5ce13;
  --white: #ffffff;
  --strawberry: #f8766b;
  --banana: #edd251;
  --watermelon: #9dc262;
  --lime: #bfd663;
  --apple: #e93f29;
  --peach: #db4f4b;
  --plum: #9b5366;
  --orange: #f47f4c;
  --kiwi: #98b37e;
  --raspberry: #e03f5e;
}
